@import "normalize.css";
@import url("./xy-theme.css");
@import "tailwindcss";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.PDF__container__document {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

canvas {
  width: 100% !important;
  height: 615px !important;
}

.cardSizingPDF > canvas {
  height: 100% !important;
}

:root {
  --mantine-color-primary: #d73f09;
  --custom-gray-heading: #423e3c;
}

html,
body {
  height: 100%;
}

.apexcharts-series path {
  cursor: pointer !important;
}
